
body{
	padding: 1px;
	margin-top: -22px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	font-family:Arial, Helvetica, sans-serif;
    
}
.header{
	background-color:lightblue;
	padding:1px;
	text-align:center;
	
}
.footer{
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightblue;
   text-align: center;
}
